body {
	margin:0; 
	min-width: 650px;
	font-family: Raleway, sans-serif;
}

p{
    font-family:Raleway, sans-serif;
}

.icon-bar a {
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    font-family: Raleway, sans-serif;
}


.heading {
    /*font-family:Verdana; */
    color: white;
    text-align: centre;
    margin-top: 22px;
    margin-left: 15px;
    font-family: Raleway, sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 200;
}
.para {
    width: 100%;
    color: #008080;
    font-size: 14px;
    font-weight:bold;
    font-family:Verdana;
font-family: Raleway, sans-serif;
}

.pick_barcode{
    padding-left:15px;
    width:100%;
    height:33px;
    font-size: 20px;
font-family: Raleway, sans-serif;
}

.submit_button {
    
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 80px;
    height: 30px; 
font-family: Raleway, sans-serif;
}

.submit_button:hover {
    color: #4863A0;
    border: 2px solid black;
}

.slidecontainer{
    width:60%;
}

/* Slider styling*/
.slider {
    -webkit-appearance: none;
    width: 10%;
    height: 5px;  
    background: #048ba8;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: LightSeaGreen;
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%; 
    background: #2e4057;
    cursor: pointer;
}


.subheadings{
    padding-left:5px;
    width:100%;
    height:33px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
}



/* Image tag */

img {
  width: 400px;
  height: 227px;
  
}



th {
    font-size: 16px;
}
.selectionTable{
    max-width: 422px;
    margin-left: 3px;
font-family: Raleway, sans-serif;
}

.selectionTable tbody tr td:first-child a {
    font-size: 15px;
font-family: Raleway, sans-serif;
}

.selectionTable tbody tr td:first-child {
    max-width: 5px;
}
.box {
    background-color: #dcdee2;
    width: 200px;
    height: 500px;
    border-radius: 15px;
    
}

.btn-circle.btn-xl {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
  filter: invert(100%);
}



.select_index{
    /*font-family:Verdana; */
font-family: Raleway, sans-serif;
    color: #008080;
    padding-left:25px;
    text-align: centre;
}

.selectionTable tbody tr td:nth-child(2) {
   font-size: 15px;
font-family: Raleway, sans-serif;
}

.selectionTable tr th:nth-child(2) {
    width:10%;
}

.input_table {
    width: 75%;
    margin-left: 1px;
    max-width:300px ;
}

.validated_barcode_table table
{

    border: 1px solid #ddd;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
}

.validated_barcode_table{
    margin-left: 10px;
}

.validated_barcode_table th, td {
    padding: 2px;
}

.validated_barcode_table tr th:first-child{
    width: 10%;
}

.validated_barcode_table tr th:nth-child(2){
    width: 33%;
}

.validated_barcode_table tr th:nth-child(3){
    width: 38%;
}

.download_links {
    font-size: 15px;
    font-weight: bold;
font-family: Raleway, sans-serif;
}

table tbody tr:nth-child(even){
    background-color: #eaeffa;
}

.error_message{
    font-size:16px;
    /*font-family:Verdana;*/
    color:Red;
font-family: Raleway, sans-serif;
}

td, th {
    word-wrap: break-word;
    font-family: Raleway, sans-serif;
}

table {
    table-layout:fixed;
}

#validated_set_dual .validated_barcode_rows{
    background-color:#ff99e6 ;
}


textarea {
    width:100%;
}

.index_select{
    font-size: 14px;
    font-weight:bold;
    /*font-family:Helvetica Neue;*/
font-family: Raleway, sans-serif;

}

/*.horizontalLine {
	position: absolute;
	width: 6px;
	top: 0px;
	bottom: 0;
	left: 229;
	background-color: red;
	transform: rotate(90deg);
}*/

hr {

	height: 8px;
	background-color:#00b3b3;
	color:#00b3b3;
	border: 0 none;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#container-query-table{
	background-color: #eafafa; 
	min-height:780px;
}

.indented{
	margin-left:35px;
}

#updateTableId{
	margin: 20px 35px 15px 25px;
}

.rt-thead, .pagination-bottom{
	background-color: #eaeffa;
	font-weight: 1000;
}

.footer {
 /*  position: fixed;*/
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #48C9B0;
   color: white;
   text-align: center;
   height:40px;
}
.mailto {
   color : white;
}
